<html>
	<head>
		<title>Redis Tasks</title>
		<style>
			.del:checked + span{
				color:red;
			}
			.task-list{
				list-style:none;
			}
		</style>
	</head>
<body>
<form method="post" action="/task/add">
	<label>Add Task</label>
	<input type="text" name="task" placeholder="Add Task">
	<input type="submit" value="Submit">
</form>

<%= title %>
<form method="post" action="/task/delete">
	<ul>
		<% tasks.forEach(function(task){%>
			<li>
				<label>
					<input type="checkbox" name="tasks" class="del" value="<%= task %>">
					<span><%= task %></span>
				</label>
			</li>	
		<%})%>
	</ul>
	<input type="submit" value="Remove">
</form>

<h3>Next Bussiness Call</h3>
Name: <%=call.name %><br>
Phone: <%=call.phone %><br>
Company: <%=call.company %><br>
Time: <%=call.time %><br>

<h3>Edit next call</h3>
<form method="post" action="/call/add">
	<label>Contact name</label>
	<input type="text" name="name" placeholder="Person Name">
	<br><br>
	<label>Company</label>
	<input type="text" name="company" placeholder="Company">
	<br><br>
	<label>Phone</label>
	<input type="text" name="phone" placeholder="Mobile Number">
	<br><br>
	<label>Day and Time</label>
	<input type="text" name="time" placeholder="Time">
	<br><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>